<a href="https://colab.research.google.com/github/SUNWOOKR/ksw/blob/master/%EA%B9%80%EC%84%A0%EC%9A%B0_206_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import datetime
from pytz import timezone

now = datetime.datetime.now(timezone('Asia/Seoul'))

print(now)
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)

2023-04-04 08:52:37.400763+09:00
2023
4
4
8
52
37

In [ ]:
import random

print(random.random())

print(random.randrange(1,7))

0.501010271377422
2

In [ ]:
import datetime
from pytz import timezone

now = datetime.datetime.now(timezone('Asia/Seoul'))

if now.hour < 12:
  print("현재시간은", now.hour,"시",now.minute,"분으로 오전입니다.")
else:
  print("현재시간은", now.hour,"시",now.minute,"분으로 오후입니다.")

현재시간은 9 시 3 분으로 오전입니다.

In [ ]:
import datetime
from pytz import timezone

now = datetime.datetime.now(timezone('Asia/Seoul'))

if 3 <= now.month <= 5:
  print("이번 달은 ",now.month,"월로 봄입니다.",sep='')
elif 6 <= now.month <= 8:
  print("이번 달은 ",now.month,"월로 여름입니다.",sep='')
elif 9 <= now.month <= 11:
  print("이번 달은 ",now.month,"월로 가을입니다.",sep='')
else:
  print("이번 달은 ",now.month,"월로 겨울입니다.",sep='')

이번 달은 4월로 봄입니다.

In [ ]:
import random
import datetime
from pytz import timezone

hour = random.randrange(0,24)
sunny = random.choice([True,False])

if hour < 12:
  print("좋은 아침입니다. 지금 시각은 %d시입니다." %(hour))
else:
  print("좋은 오후입니다. 지금 시각은 %d시입니다." %(hour))

if sunny:
  print("현재 날씨가 화창합니다")
  if 6 <= hour <= 8:
    print("종달새가 노래를 한다.")
  else:
    print("종달새가 노래를 하지 않는다")
else:
  print("현재 날씨가 화창하지 않습니다.")
  print("종달새가 노래를 하지 않는다.")

좋은 오후입니다. 지금 시각은 18시입니다.
현재 날씨가 화창하지 않습니다.
종달새가 노래를 하지 않는다.

In [ ]:
x = 0
while x < 3:
  print("안녕하세요")
  x+=1

안녕하세요
안녕하세요
안녕하세요

In [ ]:
a = int(input("원하는 단은? "))
x = 1

while(x <= 9):
  print(a,"×", x, "=", a*x)
  x+=1

원하는 단은? 2
2 × 1 = 2
2 × 2 = 4
2 × 3 = 6
2 × 4 = 8
2 × 5 = 10
2 × 6 = 12
2 × 7 = 14
2 × 8 = 16
2 × 9 = 18

In [ ]:
num = 1
sum = 0
while(num <= 10):
  sum += num
  print("num의 값: %d => 합계 : %d" %(num,sum))
  num+=1

num의 값: 1 => 합계 : 1
num의 값: 2 => 합계 : 3
num의 값: 3 => 합계 : 6
num의 값: 4 => 합계 : 10
num의 값: 5 => 합계 : 15
num의 값: 6 => 합계 : 21
num의 값: 7 => 합계 : 28
num의 값: 8 => 합계 : 36
num의 값: 9 => 합계 : 45
num의 값: 10 => 합계 : 55

In [ ]:
sum = 0
num = 150

while(num <= 300):
  if num % 2 == 1:
    sum += num
  num+=1
print(sum)

16875

In [ ]:
print("---------------")
print("섭씨    화씨")
print("---------------")

a = -5
while(a <= 5):
  if a < 0:
    print(a,a*9.0/5.0 + 32.0,sep='      ')
  else:
    print(a,a*9.0/5.0 + 32.0,sep='       ')
  a+=1

---------------
섭씨    화씨
---------------
-5      23.0
-4      24.8
-3      26.6
-2      28.4
-1      30.2
0       32.0
1       33.8
2       35.6
3       37.4
4       39.2
5       41.0

In [ ]:
num = 10
sum = 0
a = 1

while(sum <= 9):
  a *= (num - sum)
  sum += 1
  
print("10! =",a)

10! = 3628800

In [ ]:
a = 1;

while(a <= 20):
  if(a % 2 == 0):
    print(a,end=' ')
  a+=1

2 4 6 8 10 12 14 16 18 20

In [ ]:
a = 10

while(a <= 50):
  if a % 3 != 0:
    print(a,end=' ')
  a+=1

10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50

In [ ]:
pw = input("암호입력: ")
if pw == 'python':
  print("로그인 성공")
while(pw != 'python'): 
  pw = input("암호입력: ")
  if pw == 'python':
     print("로그인 성공")
     break

암호입력: python
로그인 성공

In [ ]:
import random

num = random.randint(1,100)

sum = 0

while(a != num):
  a = int(input("숫자를 맞춰보세요: "))
  if a > num:
    print("높음")
    sum+=1
  elif a < num:
    print("낮음")
    sum+=1
  elif a == num:
    print("축하합니다.","시도 횟수= ",sum)

숫자를 맞춰보세요: 50
낮음
숫자를 맞춰보세요: 60
낮음
숫자를 맞춰보세요: 70
낮음
숫자를 맞춰보세요: 90
낮음
숫자를 맞춰보세요: 99
축하합니다. 시도 횟수=  4